<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @email.text %>
</p>

<p>
  <b>Subject:</b>
  <%= @email.subject %>
</p>

<p>
  <b>Send to:</b>
  <%= @email.send_to %>
</p>

<p>
  <b>Send from:</b>
  <%= @email.send_from %>
</p>


<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
